.roleProfileItem {
    padding: 8px;
    height: 12vh;
    border-radius: 5px;
    box-shadow: 0 1px 3px #666;
    box-sizing: border-box;
    position: relative;

    .actionGroup {
        position: absolute;
        display: flex;
        gap: 5px;
        bottom: 8px;
        right: 8px;
    }
}