.sorter {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 8px;

    .icon {
        color: var(--primary);
        cursor: pointer;
        border: 1px solid var(--primary);
        border-radius: 50%;
        width: 20px;
        height: 20px;

        &.selected {
            color: white;
            background: var(--primary);
        }
    }
}