.notification-dropdown-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    >svg {
        background: white;
        color: var(--primary);
        border-radius: 50%;
        cursor: pointer;
        font-size: 25px;
        padding: 3px;
    }

    .notification-count {
        position: absolute;
        width: 20px;
        height: 20px;
        font-size: 0.8em;
        border-radius: 50%;
        background: red;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -8px;
        right: -8px;
        pointer-events: none;
        font-weight: 800;
    }

    .notification-dropdown {
        position: absolute;
        width: 350px;
        top: 100%;
        right: 0;
        max-height: 300px;
        overflow-y: auto;
        // padding-bottom: 50px;
        border: 1px solid #666;
        background: white;
        border-radius: 6px;

        &> button {
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }
}