.project-item {
    border: 1px solid var(--primary);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 5px;

    .overview {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    h2 {
        padding: 0;
        margin: 0;
    }

    button {
        width: fit-content;
    }
}