.csv-import {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    h5 {
        padding: 0;
        margin: 0;

        font-size: 1.3em;;
    }

    .body-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: var(--primary);
            font-weight: 600;
            cursor: pointer;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            padding: 2px 0;
        }
    }
}