.invitations-summary-button-wrapper {
    position: relative;
    span {
        background: red;
        color: white;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        padding: 3px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 800;
        position: absolute;
        top: -12px;
        right: -12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}